{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ grupo }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'grupos:list' %}">Grupos</a></li>
      {% if grupo %}
        <li class="breadcrumb-item"><a href="{{ grupo.get_absolute_url }}">{{ grupo }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
      {% endif %}
    </ol>
  </nav>
  <h1>{{ grupo.nombre }}</h1>
  <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
