{% extends "base.html" %}
{% load static i18n django_tables2 %}
{% block title %}Grupos{% endblock %}

{% block content %}
<div class="container">
  <h2>Grupos</h2>

  <div class="row">
    <div class="col-sm-12">
      <a href='{% url 'grupos:create' %}'>Nuevo</a>
    </div>
  </div>

  {% render_table table %}
</div>
{% endblock content %}
