{% extends "base.html" %}
{% load static i18n django_tables2 %}

{% block title %}{{ grupo }}{% endblock %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'grupos:list' %}">Grupos</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ grupo }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ grupo.nombre }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a href='{% url 'grupos:update' grupo.slug %}'>Editar</a>
    </div>
  </div>

  <table class="table">
    <tr><th>Numero</th><td>{{ grupo.numero }}</td></tr>
    <tr><th>Direccion</th><td>{{ grupo.direccion|default:'-' }}</td></tr>
    <tr><th>Email</th><td>{{ grupo.email }}</td></tr>
    <tr><th>Telefono</th><td>{{ grupo.telefono }}</td></tr>
  </table>

  <h3>Secciones</h3>
  <div class="row">
    <div class="col-sm-12">
      <a href='{% url 'grupos:secciones:create' grupo.slug %}'>Crear sección</a>
    </div>
  </div>
  {% if table.data %}
    {% render_table table %}
  {% else %}
    <p>No hay secciones. Por favor cree una nueva sección
       <a href='{% url 'grupos:secciones:create' grupo.slug %}'>Crear sección</a>
    </p>
  {% endif %}

  <small>
    Creado: {{ grupo.creado }}
    Ultima actualización: {{ grupo.actualizado }}
  </small>

</div>
{% endblock content %}
