{% extends "base.html" %}
{% load static %}

{% block title %}{{ seccion }}{% endblock %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'grupos:list' %}">Grupos</a></li>
      <li class="breadcrumb-item"><a href="{{ grupo.get_absolute_url }}">{{ grupo }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ seccion }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ seccion.nombre }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a href="{{ seccion.get_update_url }}">Editar</a>
    </div>
  </div>

  <table class="table">
    <tr><th>Grupo</th><td>{{ grupo }}</td></tr>
    <tr><th>Rama</th><td>{{ seccion.get_rama_display }}</td></tr>
    <tr><th>Sección</th><td>{{ seccion.get_unidad_display }}</td></tr>
    <tr><th>Nombre</th><td>{{ seccion.nombre }}</td></tr>
    <tr><th>Lema</th><td>{{ seccion.lema }}</td></tr>
  </table>

  <small>
    Creado: {{ seccion.creado }}
    Ultima actualización: {{ seccion.actualizado }}
  </small>

</div>
{% endblock content %}
