{% extends "base.html" %}
{% load static %}

{% block title %}{{ persona.nombre_completo }}{% endblock %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'personas:list' %}">Personas</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ persona.nombre_completo }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ persona.nombre_completo }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <a href='{% url 'personas:update' persona.slug %}'>Editar</a>
    </div>
  </div>

  <table class="table">
    <tr><th>DNI</th><td>{{ persona.dni }}</td></tr>
    <tr><th>Fecha de nacimiento</th><td>{{ persona.fecha_nacimiento|default:'-' }}</td></tr>
    <tr><th>Sección</th><td>{{ persona.seccion|default:"-" }}</td></tr>
    <tr><th>Tipo de miembro</th><td>{{ persona.tipo_miembro }}</td></tr>
    <tr><th>Email</th><td>{{ persona.email }}</td></tr>
    <tr><th>Telefono</th><td>{{ persona.telefono }}</td></tr>
    <tr><th>Celular</th><td>{{ persona.celular }}</td></tr>
    <tr><th>Direccion</th><td>{{ persona.direccion }}</td></tr>
  </table>

  <small>
    Creado: {{ persona.creado }}
    Ultima actualización: {{ persona.actualizado }}
  </small>

</div>
{% endblock content %}
