{% extends "base.html" %}
{% load static i18n django_tables2 %}
{% block title %}Personas{% endblock %}

{% block content %}
<div class="container">
  <h2>Personas</h2>

  {% render_table table %}
</div>
{% endblock content %}
